---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
    font-size: 14px;
}

blockquote {
    font-size: 16px;
}

.wrapper {
    max-width: calc(1200px - (30px * 2));
}

.left-column-image {
    float: left;
    padding-right: 40px;

    &--small {
        width: 250px;
    }
    
    &--medium {
        width: 300px;
    }
}

.right-column-image {
    float: right;
    padding-left: 40px;

    &--small {
        width: 250px;
    }
    
    &--medium {
        width: 300px;
    }
}

.image-with-legend-container {
    text-align: center;

    &--small {
        width: 250px;
    }
    
    &--medium {
        width: 300px;
    }

    &--right {
        float: right;
        padding-left: 40px;

        & + p {
            clear: left;
        }
    }

    &--left {
        float: left;
        padding-right: 40px;

        & + p {
            clear: right;
        }
    }
}

.block-with-image-container {
    overflow:hidden;
    margin:auto;

    &--narrow {
        max-width:800px;
    }

    &--medium {
        max-width:1000px;
    }

    padding-bottom: 40px;
}

.image-legend{
    color: gray;
    font-style: italic;
    font-size: 0.9em;
    margin-bottom: 1em;
    display: block;
}

p a {
    font-weight: bold;
}

.post-content li a {
    font-weight: bold;
}

.hint {
    color: gray;
    font-style: italic;
}